<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %m at %l%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <appender name="LOG-FILE-APPENDER" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/application.log"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="MaxBackupIndex" value="9"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %C{1}.%M (%4L) %m %n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="FATAL"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>

    <category name="com.liberty">
        <priority value="ALL"/>
    </category>

    <category name="org.springframework">
        <priority value="ERROR"/>
    </category>

    <category name="org.springframework.transaction">
        <priority value="INFO"/>
    </category>

    <category name="org.apache.http.wire">
        <priority value="NONE"/>
    </category>

    <logger name="org.apache.commons.httpclient">
        <level value="fatal"/>
    </logger>

    <logger name="httpclient.wire.header">
        <level value="fatal"/>
    </logger>

    <logger name="httpclient.wire.content">
        <level value="fatal"/>
    </logger>

    <root>
        <appender-ref ref="LOG-FILE-APPENDER"/>
        <appender-ref ref="CONSOLE-DEBUG"/>
    </root>

</log4j:configuration>
