#page-wrapper {
    margin-top: 70px;
}

.table-image {
    width: 50px;
}

.source-label {
    cursor: pointer;
    margin: 4px;
}

b, strong {
    font-weight: bold;
    color: darkgoldenrod;
}

.player-card {
    height: 207px;
    width: 132px;
    padding: 10px;
    margin-top: -80px;
}

.player-card.gold-tots {
    background: url("../img/cards/tots.png") no-repeat;
    background-position: 1px;
}

.player-card.gold-rare {
    background: #cccccc url("../img/cards/standard-rare.png");
}
.player-title {
    margin-left: 160px;
    margin-top: 30px;
}

.card-image {
    height: 85px;
    padding-left: 25px;
    margin-top: -65px;
}

.card-tows-position {
    font-size: 15px;
    font-weight: bold;
    color: gold;
    margin-top: 0px;
    margin-left: 7px;
    text-shadow: -1px 0 #B7B7B7, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-tows-total {
    font-size: 25px;
    font-weight: bold;
    color: gold;
    margin-top: 10px;
    margin-left: 5px;
    text-shadow: -1px 0 #B7B7B7, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-name {
    font-weight: bold;
    text-align: center;
}

.playercard-attr {
    color: gold;
}

.right-attr {
    margin-left: 60px;
    margin-top: -57px
}

.league-title {
    margin-left: 150px;
    font-size: 25px;
}

.team-title {
    margin-left: 150px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

#price-chart {
    margin-left: 170px;
    margin-top: -100px;
}