<img ng-if="trade.profile.color=='ones_to_watch'" class="trade-image-ones-to-watch"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='totw_gold'" class="trade-image-totw-gold"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='totw_silver'" class="trade-image-totw-silver"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='totw_bronze'" class="trade-image-totw-bronze"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='rare_gold'" class="trade-image-rare-gold"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='gold'" class="trade-image-gold" src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='rare_silver'" class="trade-image-rare-silver"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='silver'" class="trade-image-silver" src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='rare_bronze'" class="trade-image-rare-bronze"
     src="/api/images/{{trade.profile.id}}">
<img ng-if="trade.profile.color=='bronze'" class="trade-image-bronze" src="/api/images/{{trade.profile.id}}">