<img ng-if="player.color=='ones_to_watch'" class="trade-image-ones-to-watch"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='totw_gold'" class="trade-image-totw-gold"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='totw_silver'" class="trade-image-totw-silver"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='totw_bronze'" class="trade-image-totw-bronze"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='rare_gold'" class="trade-image-rare-gold"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='gold'" class="trade-image-gold" src="/api/images/{{player.id}}">
<img ng-if="player.color=='rare_silver'" class="trade-image-rare-silver"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='silver'" class="trade-image-silver"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='rare_bronze'" class="trade-image-rare-bronze"
     src="/api/images/{{player.id}}">
<img ng-if="player.color=='bronze'" class="trade-image-bronze"
     src="/api/images/{{player.id}}">
