<div class="page-header">
    <h1>Tags</h1>
</div>
<div class="container">
    <div class="col-md-12">
        Auto Buy :
        <toggle ng-model="params.autoBuyEnabled" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>

        Auto Sell :
        <toggle ng-model="params.autoSellEnabled" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>
        Relist Miner :
        <toggle ng-model="params.autoSellRelistMinerEnabled" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>
        No activity :
        <toggle ng-model="params.noActivityEnabled" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>
        Auto Trade :
        <toggle ng-model="params.autoTradeEnabled" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>
        Auto Only Active :
        <toggle ng-model="params.autoTradeOnlyActivePlayer" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>
        Robot :
        <toggle ng-model="params.robotEnabled" ng-change="saveParams()" onstyle="btn-success"
                offstyle="btn-danger"></toggle>

        <button class="btn btn-info" ng-click="updatePrices()">Update Prices</button>
    </div>
    <div class="col-md-12">
        <select ng-model="selectedBuyStrategy" class="dropdown">
            <option ng-repeat="str in buyStrategies" value="{{str.id}}">{{str.name}}
            </option>
        </select>
        <button class="btn btn-default"
                ng-click="changeStrategy()">Change
        </button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Tag</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody ng-repeat="(name, amount) in tagDistribution">
        <tr>
            <td>
                <span class="tag label label-info" ng-if="isActiveTag(name)"> {{name}}</span>
                <span class="tag label label-default" ng-if="!isActiveTag(name)"> {{name}}</span>
            </td>
            <td>{{amount}}</td>
            <td>
                <button class="btn btn-success" ng-if="!isActiveTag(name)"
                        ng-click="enableTag(name)">Activate
                </button>
                <button class="btn btn-danger" ng-if="isActiveTag(name)"
                        ng-click="disableTag(name)"> Deactivate
                </button>
            </td>

        </tr>
        </tbody>
    </table>
</div>
