<!DOCTYPE html>
<html lang="en-US" ng-app="fifaApp">
<head>
    <title>Fifa</title>
</head>
<script src="app/lib/angular.js"></script>
<script src="app/lib/jquery/jquery-2.2.3.js"></script>
<script src="app/lib/jquery/jquery.typeahead.min.js"></script>
<script src="app/lib/table/ng-table.min.js"></script>
<script src="app/lib/bootstrap/js/bootstrap.js"></script>
<script src="app/lib/angular-resource.js"></script>
<script src="app/lib/angular-ui-router.min.js"></script>
<script src="app/lib/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="app/lib/favico-0.3.10.min.js"></script>
<script src="app/lib/stomp.js"></script>
<script src="app/lib/sockjs.js"></script>
<script src="app/lib/toogle/angular-bootstrap-toggle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages': ['corechart', 'bar', 'line'],  'language': 'uk'});
</script>

<link id="favicon" rel="icon" href="/favicon.ico"/>

<link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="app/lib/toogle/angular-bootstrap-toggle.min.css">
<link rel="stylesheet" href="app/lib/table/ng-table.min.css">
<link rel="stylesheet" href="app/lib/jquery/jquery.typeahead.min.css">
<link rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

<link rel="stylesheet" href="app/css/app.css">

<script src="app/js/app.js"></script>
<script src="app/js/directives.js"></script>
<script src="app/js/controller/IndexController.js"></script>
<script src="app/js/controller/MarketController.js"></script>
<script src="app/js/controller/PlayerController.js"></script>
<script src="app/js/controller/TradeController.js"></script>
<script src="app/js/controller/TradePlayerController.js"></script>
<script src="app/js/controller/SearchController.js"></script>
<script src="app/js/controller/MarketSearchController.js"></script>
<script src="app/js/controller/ConfigController.js"></script>
<script src="app/js/controller/SquadController.js"></script>

<link href="app/lib/suggest/magicsuggest-min.css" rel="stylesheet">
<script src="app/lib/suggest/magicsuggest.js"></script>

<body ng-app="fifaApp" ng-controller="IndexController">


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/index">
            <img style="width:105px; margin-top: -5px;" src="/app/img/logo.png"></a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav side-nav left-menu">
            <li>
                <a href="#/market" class="top-level-menu">
                    <span class="label label-warning label-as-badge">{{purchasesRemained}}</span>
                    <span class="glyphicon glyphicon-briefcase"></span>
                    Market</a>
            </li>
            <li>
                <a href="#/trade" class="top-level-menu">
                    <span class="label label-success label-as-badge">{{canSell}}</span>
                    <span class="glyphicon glyphicon-tags"></span> Trade
                    <span class="label label-danger label-as-badge">{{unassigned}}</span>
                </a>
            </li>
            <li>
                <a href="#/search" class="top-level-menu">
                    <span class="glyphicon glyphicon-search"></span>
                    Search</a>
            </li>
            <li>
                <a href="#/market-search" class="top-level-menu">
                    <span class="glyphicon glyphicon-th-large"></span>
                    Market Search</a>
            </li>
            <li>
                <a href="#/config" class="top-level-menu">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    Config</a>
            </li>
            <li>
                <a href="#/squad" class="top-level-menu">
                    <span class="glyphicon glyphicon-fire"
                          style="color: rgba(113, 21, 255, 0.96)"></span>
                    SBC</a>
            </li>
            <li>
                <a href="#collapseLog" data-toggle="collapse" aria-expanded="false"
                   class="top-level-menu">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Logs</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:20px">
            <li> Players : <strong>{{stats.players}} &nbsp;&nbsp</strong></li>
            <li> Auto Buy : <strong>{{stats.autoBuy}}</strong></li>
            <br>
            <li> Processor : <strong>{{stats.enabled}}&nbsp;&nbsp</strong></li>
            <li> Robot : <strong>{{stats.robotEnabled}}</strong></li>
            <br>
            <li> Credits : <strong style="color:#20b510">{{formatCredits(stats.credits)}}&nbsp;&nbsp</strong></li>
            <li ng-click="updateStats()"> Rate : <strong
                    style="color:#3F51B5; cursor:pointer">{{stats .rate}}</strong></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<div class="col-md-12">

    <div class="collapse logView" id="collapseLog">
        <ul>
            <li ng-class="{errorLog: log.level.label=='ERROR', infoLog: log.level.label=='INFO'}"
                ng-repeat="log in logs track by $index">
                {{log.message}}
            </li>
        </ul>

    </div>
</div>
<div id="wrapper">

    <div id="page-wrapper">
        <div ui-view></div>
    </div>

</div>
</body>
</html>