<div class="page-header">
    <h1>Market</h1>
</div>


<div class="col-md-6">
    <div ng-if="!autoBuyEnabled">
        <button class="btn btn-success" ng-click="enableAutoBuy(true)">Run Autobuy</button>
        <input ng-model="purchases" type="number">
    </div>


    <button ng-if="autoBuyEnabled" class="btn btn-danger"
            ng-click="enableAutoBuy(false)">Stop Autobuy
    </button>
    <div>
        Phishing Token : <strong>{{marketInfo.phishingToken}}</strong><br>
        Session Id : <strong>{{marketInfo.sessionId}}</strong> <br>
        Max Purchases : <strong>{{marketInfo.maxPurchases}}</strong> <br>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-2">
        <button ng-click="updateAllPrices()" class="btn btn-info"> Update All</button>
    </div>
    <div class="col-md-2">
        <img style="height: 81px; padding-bottom: 45px;" ng-show="isLoading"
             src="app/img/preloader.gif">
    </div>
</div>
<div class="container">
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="player in $data">
            <td data-title="'Id'"><small-player/></td>
            <td data-title="'Name'" sortable="'name'" filter="{name: 'text'}">
                <a  href="#/player/{{player.id}}">{{player.name}}</a></td>
            <td data-title="'Max Buy Now Price'" sortable="'maxPrice'">{{player.maxPrice}}</td>
            <td data-title="'Min Market Price'" sortable="'minMarketPrice'">
                {{player.minMarketPrice}}
            </td>
            <td data-title="'Diff'" sortable="'diff'">{{player.diff}}</td>
            <td data-title="'Bought'" sortable="'boughtAmount'">{{player.boughtAmount}}</td>
            <td data-title="'Last Update'" sortable="'lastUpdate'">{{player.lastUpdate}}</td>
            <td data-title="'Enabled'" sortable="'enabled'">{{player.enabled}}</td>
            <td data-title="'Actions'">
                <button ng-if="!player.enabled" class="btn btn-success"
                        ng-click="changeAutoBuyStatus(player.id, true)">Enable
                </button>
                <button ng-if="player.enabled" class="btn btn-danger"
                        ng-click="changeAutoBuyStatus(player.id, false)">Disable
                </button>
            </td>
        </tr>
    </table>
</div>