<form class="from-inline col-md-12">
    <button class="btn btn-info col-md-2" ng-click="performSearch()">
        <span class=" glyphicon glyphicon-search"></span>Search
    </button>

    <div class="col-md-1">
        <select class="form-control " id="quality" ng-model="search.quality"
                ng-change="resetPage()">
            <option value="gold">Gold</option>
            <option value="silver">Silver</option>
            <option value="bronze">Bronze</option>
            <option value="rare">Rare</option>
        </select>

    </div>
    <div class="col-md-4">
        <div id="magicsuggest"></div>
    </div>
</form>

<form class="col-md-12">
    <div class="col-md-9">
        <div class="form-group col-md-3">
            <label for="minPrice">Min Price</label>
            <input type="number" class="form-control  input-number"
                   ng-model="search.minPrice"
                   id="minPrice" ng-change="resetPage()">
        </div>
        <div class="form-group col-md-3">
            <label for="maxPrice">Max Price</label>
            <input type="number" class="form-control  input-number"
                   ng-model="search.maxPrice"
                   id="maxPrice" ng-change="resetPage()">
        </div>
        <div class="form-group col-md-3">
            <label for="minBuyNowPrice">Buy Now Min</label>
            <input type="number" class="form-control" ng-model="search.minBuyNowPrice"
                   id="minBuyNowPrice" ng-change="resetPage()">
        </div>
        <div class="form-group col-md-3">
            <label for="maxBuyNowPrice">Buy Now Max</label>
            <input type="number" class="form-control" ng-model="search.maxBuyNowPrice"
                   id="maxBuyNowPrice" ng-change="resetPage()">
        </div>
    </div>
    <div class="col-md-3">
        <label for="pager">Pages</label>
        <div id="pager">
            <button class="btn btn-default col-md-4" ng-disabled="isFirst()"
                    ng-click="previousPage()">
                Previous </a></button>
            <div class="col-md-4">Page {{search.page}}</div>
            <button class="btn btn-default col-md-4"
                    ng-disabled="!hasMoreElements() || !resultPresent"
                    ng-click="nextPage()"> Next</a></button>
        </div>
    </div>
</form>
<div class="container">
    <div ng-if="resultPresent">
        <table class="table">
            <thead>
            <tr>
                <th>Player</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Status</th>
                <th>Trade State</th>

                <th>Current Bid</th>
                <th>Starting Bid</th>
                <th>Buy Now</th>
                <th>My Buy Now</th>

                <th>Actions</th>
                <th>Expires</th>

            </tr>
            </thead>
            <tbody ng-repeat="trade in trades track by $index">
            <tr ng-class="{buyRow: isMonitored(trade) && shouldBuy(trade),
                bidRow: isMonitored(trade)&& shouldBid(trade),
                badRow: isMonitored(trade) && !shouldBuy(trade),
                rareRow: trade.auctionInfo.itemData.rareflag > 1 }">
                <td>

                    <table>
                        <tr>
                            <td>
                                <search-row/>
                            </td>
                            <td>
                                <contracts/>
                            </td>
                        </tr>
                    </table>

                </td>

                <td>
                    <table>
                        <tr>
                            <td>
                                <a href="#/player/{{trade.auctionInfo.itemData.assetId}}">{{trade.profile.name}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/api/images/club/{{trade.profile.clubId}}">
                                <img src="/api/images/nation/{{trade.profile.nationId}}">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                {{trade.profile.rating}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{getLeagueName(trade.profile.leagueId)}}
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <trade-status/>
                            </td>
                        </tr>

                        <tr>
                            <td>{{trade.auctionInfo.itemData.preferredPosition}}</td>
                        </tr>
                    </table>
                </td>
                <td>{{trade.auctionInfo.tradeState}}</td>

                <td>{{trade.auctionInfo.currentBid}}</td>
                <td>{{trade.auctionInfo.startingBid}}</td>
                <td>
                    <table>
                        <tr>
                            {{trade.auctionInfo.buyNowPrice}}
                        </tr>
                        <tr ng-if="isMonitored(trade)">
                            <div ng-if="isMonitored(trade) && !shouldBuy(trade)" class="red-bold">
                                {{trade.tradeStatus.maxPrice - trade.auctionInfo.buyNowPrice}}
                            </div>
                            <div ng-if="shouldBuy(trade)" class="green-bold">
                                +{{trade.tradeStatus.maxPrice - trade.auctionInfo.buyNowPrice}}
                            </div>
                        </tr>
                    </table>
                </td>
                <td>
                    <table ng-if="isMonitored(trade)">
                        <tr>
                            <td>{{trade.tradeStatus.maxPrice}}</td>
                        </tr>
                        <tr>
                            <td class="time-black">{{trade.tradeStatus.lastDate}}</td>
                        </tr>

                    </table>
                <td>
                    <table>
                        <tr>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning"
                                            ng-click="makeBid(trade)">Make bid
                                    </button>
                                    <button type="button" class="btn btn-success"
                                            ng-click="buyNow(trade)">Buy
                                        now
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="black-bold"> Bid {{defineTradeBid(trade)}}</div>
                            </td>

                        </tr>
                    </table>


                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                {{toTime(trade.auctionInfo.expires)}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="bid-status-{{$index}}" class="bid-status">
                                    <bid-status/>
                                </div>
                            </td>
                        </tr>
                    </table>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
