<div class="page-header">
    <h1>Players</h1>
</div>

<div class="container">
    <span ng-repeat="source in sources">
        <span class="label label-default source-label" ng-if="source!=filterSource"
              ng-click="filterBySource(source)">{{source}}
        </span>
        <span class="label label-success source-label" ng-if="source==filterSource"
              ng-click="filterBySource(source)">{{source}}
        </span>
    </span>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Total</th>
            <th>Source</th>
            <th>League</th>
            <th>Under monitoring</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody ng-repeat="player in players">
        <td>
            <img class="table-image" src="{{player.image}}"> <br>
            {{player.id}}
        </td>
        <td>{{player.name}}</td>
        <td>{{player.position}}</td>
        <td>{{player.total}}</td>
        <td><a href="#" ng-click="filterBySource(player.source)">{{player.source}}</a></td>
        <td>{{player.league}}</td>
        <td>{{player.underMonitoring}}</td>
        <td>
            <button ng-if="!player.underMonitoring"
                    ng-click="addToMonitoring(player.id)">Monitor
            </button>
            <button ng-if="player.underMonitoring"
                    ng-click="removeFromMonitoring(player.id)">Remove Monitor
            </button>
        </td>
        </tr>
        </tbody>
    </table>
</div>