<div class="page-header">
    <h1>Trades</h1>
</div>
<div class="container">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search"  ng-model="search"/>
            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Players</th>
            <th>Max Price</th>
        </tr>
        </thead>
        <tbody ng-repeat="trade in trades">
        <tr>
            <td>{{trade.playerId}}</td>
            <td><a href="#/trade-player/{{trade.playerId}}">{{trade.tradeStatus.name}}</a></td>
            <td>{{trade.items.length}}</td>
            <td>{{trade.tradeStatus.maxPrice}}</td>
        </tr>
        </tbody>
    </table>
</div>
