<div class="page-header">
    <h1>Trades</h1>
</div>
<div class="container">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search"
                   ng-model="search" ng-keypress="performSearch()"/>
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button"
                        ng-click="performSearch()">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Club</th>
            <th>League</th>
            <th>Nation</th>
        </tr>
        </thead>
        <tbody ng-repeat="player in profiles">
        <tr>
            <td><small-player/></td>
            <td><a href="#/player/{{player.id}}">{{player.name}}</a></td>
            <td>{{player.rating}}</td>
            <td><img src="/api/images/club/{{player.clubId}}"></td>
            <td><img src="/api/images/league/{{player.leagueId}}">{{player.leagueId}}</td>
            <td><img src="/api/images/nation/{{player.nationId}}"></td>
        </tr>
        </tbody>
    </table>
</div>
