<div class="page-header">
    <h1>Trades</h1>
</div>
<div class="col-md-6">
    <div class="col-md-2">
        <button ng-click="updateAllPrices()" class="btn btn-info"> Update All</button>
    </div>
    <div class="col-md-2">
        <img style="height: 81px; padding-bottom: 45px;" ng-show="isLoading"
             src="app/img/preloader.gif">
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Players</th>
            <th>Max Price</th>
        </tr>
        </thead>
        <tbody ng-repeat="player in trades">
        <tr>
            <td><small-player/></td>
            <td><a href="#/trade-player/{{player.playerId}}">{{player.tradeStatus.name}}</a></td>
            <td>{{player.items.length}}</td>
            <td>{{player.tradeStatus.maxPrice}}</td>
        </tr>
        </tbody>
    </table>
</div>
